.linear-progress-bar{
    border-radius:25px;
    height:20px;
    background-image: linear-gradient(to right, #7c3690, #863298, #902e9f, #9b27a6, #a61cac);
}
.progress-bar{
    background-color:lightgray;
    border-radius:25px;
    height:20px;
    margin-bottom: 55px;
    margin-left: 10px;
    width: 90%;
}
.percentage{
    font-size: 70px;
    color:#1A08DC;
    margin-top: 30px;
    font-family: 'BPG Nino Mtavruli', sans-serif;
    white-space:nowrap;
}
p{
    color:gray;
    font-family: 'BPG Nino Mtavruli', sans-serif;
}
#info{
    margin-left:10px;
    margin-bottom:-3px;
    color:lightgray;
}
.info-hover-progress{
    position: absolute;
    display: inline-block;
    box-shadow: 0 3px 5px 0 rgb(170, 167, 167);
    top: 300px;
    right: 450px;
    padding: 15px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
  }
  .info-hover-progress p{
    color: rgb(52, 89, 201);
    font-size: 12px;
    font-weight: 550;
  }